body {
    background-color: beige;
    font-size: x-large;
}

.selections {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.result-score {
    color: #333;
    font-size: 1.1rem;
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-selection {
    opacity: 0.5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}